html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: 'Inter', sans-serif;
}

section {
  height: 800px;
}

/* #region header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-image: url(images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

/* #endregion */
/* #region menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms;

  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background: #E5E5E5;
}

.menu:target {
  transform: translateX(-0%);
}

.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

/* #endregion */
/* #region nav */
.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: #292929;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
/* #endregion */